body{
    margin: 0;
    background-color: olive;
}

.home__main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 75vh;
    width: 100%;
}

.gif__container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 1rem;
    height: 70%;
    width:75%;
}

.story,.end{
    flex-direction: column;
}

.story__container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 95vh;
    width: 100%;
}

#home-gif{
    width: 63%;
    height: 100%;
}

#story-gif{
    width: 100%;
    height: 100%;
}

#end-gif{
    height: 100%;
    width: 100%;
}

#story-text{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 4rem;
    color: white;
    margin-top: 0;
    margin-bottom: 2rem;
}

.input__area{
    font-family: 'Carter One', cursive;
}

.title__home{
    background-color: darkgreen;
    color: white;
    font-family: 'Carter One', cursive;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.create__form{
    margin-top: 5rem;
}

.create__container{
    text-align: center;
    display: block;
    margin: 2rem;
}

.create__container input,textarea{
    width: 90%;
    border: 3px solid green;
    background: lightgray;
}

.create__title{
    font-family: 'Carter One', cursive;
    color: white;
    margin: .5rem;
    font-size: 1.5rem;
}

.footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
}

.footer__item{
    margin: 0 .5rem;
    font-family: 'Carter One', cursive;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer__item:hover{
    color: black;
    text-decoration: none;
}

.button__container{
    display: block;
    text-align: center;
    margin: .5rem 1rem;
}

.title__container{
    text-align: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title__title{
    font-size: 6em;
    color: white;
    font-family: 'Luckiest Guy', cursive;
}

.page__container{
    font-size: 1rem;
    margin-bottom: 1rem;
}

button{
    color: white;
    background-color: darkgreen;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    outline: none;
}

button:hover,:active{
    color: black;
}

a{
    color: white;
    text-decoration:none;
}

a:hover{
    color: black;
}

.load__menu{
    text-align: center;
    display: block;
    margin: 2rem;
}

.load__entry{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button__story{
    font-size: 2rem;
    margin-right: .25rem;
}

.button__delete{
    margin-left: .25rem;
    font-size: .75rem;
}

.button__delete:hover{
    color: red;
}

@media(min-width: 415px){
    .title__home{
        font-size: 3rem;
    }
    
    .create__title{
        font-size: 2rem;
    }
    
    .footer__item{
        font-size: 1.5rem;
        margin: 0 2rem;
    }

    .button__container{
        display: inline;
        margin: 1rem;
    }

    .button__menu{
        text-align: center;
    }
    
    button{
        margin: auto;
        font-size: 2rem;
    }

    .gif__container{
        margin: 2rem;
        margin-top: .5rem;
    }

    .page__container{
        font-size: 1.5rem;
    }    

    /* #story-text{
        font-size: 5rem;
    } */
}